* {
    box-sizing: border-box;
}

.slidezy-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slidezy-track {
    display: flex;
}

.slide {
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: nowrap;
    padding: 30px;
    text-align: center;
    color: #fff;
}

.slice-1 {
    background-color: red;
}
.slice-2 {
    background-color: rebeccapurple;
}
.slice-3 {
    background-color: orange;
}
.slice-4 {
    background-color: green;
}
.slice-5 {
    background-color: blue;
}
.slice-6 {
    background-color: pink;
}

.slidezy-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.slidezy-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
